.footer {
    background-color: #6278F7;
    background-image: url("/public/images/fundo.png");
    background-position: center;
    background-size: cover;
    max-width: 100%;
}

.footer section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;  
}

.footer  img {
    margin-right: 20px;
    cursor: pointer;
}

.footer h3{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}